// colors 
$bgc-primary: #1C121F;
$bgc-second: #25192B;

$white: #fff;
$white2: #F5FBF2;
$black: #000;
$black2: #1C121F;
$black3: #16091B;
$grey: #9B9E9A;
$yellow: #FFCE4E;
$pink: #E4DEE7;
$blue: #B5C8DB;
$purple: #594D5E; 
$purple2: #8613A5;
$purple3:  #BDAAC1;
$purple4: #76607A;
$purple5: #C6BFC8;
$purple6: #3D2942;
$red: #E03054;