.header {
    position: relative;
    z-index: 20;
}
.header__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 37px;

}
.header__logo {
}

.header__link {
    transition: width 5s ease-in;
    &:after {
        display: none;
        content: "";
        background: $yellow;
        width: 0%;
        height: 2px;
        position: absolute;
        bottom: 15;
        left: 0;
    }
    &:hover {
        color: $yellow;
        &:after{
            display: block;
            width: 100%;
        }
    }
}

.header__inner {
    display: flex;
    align-items: center;
    @media (max-width: 700px){
        transform: translateY(-200%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        padding-top: 35px;
        flex-direction: column;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        text-align: center;
        gap: 20px;

        transition: all .35s ease-in-out
    }
    &.active {
        transform: translateY(0%);
    }
}

.header__list {
    margin-right: 160px;

    color: $black ;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.02em;
    @media (max-width: 900px){
        margin-right: 30px;
    }
    @media (max-width: 700px){
        margin-right: 0px;
     }
    & ul {
        display: flex;
        @media (max-width: 700px){
            flex-direction: column;
        }
        gap: 64px;
        @media (max-width: 900px){ 
            gap: 20px;
        }

        & li {
            position: relative;
        }
        
        & a {
            transition: color 0.22s ease-in;
        }

        & a:after {
            // display: none;
            // content: "";
            // background: $yellow;
            // width: 100%;
            // height: 2px;
            // position: absolute;
            // bottom: 15;
            // left: 0;
        }

        // & a:hover {
        //     color: $yellow;

        //     & .header__link:after {
        //         display: block;
        //     }
        // }
    }
}
.header__btn {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: $yellow;
    border: 1px solid $yellow;
    padding: 20px 30px;
    background: rgba(233, 215, 167, 0.1);
    transition: all .3s ease-in-out;

    &:hover {
        -webkit-box-shadow: 0px 0px 17px 2px rgba(255, 204, 78, 0.36);
        -moz-box-shadow: 0px 0px 17px 2px rgba(255, 204, 78, 0.36);
        box-shadow: 0px 0px 17px 2px rgba(255, 204, 78, 0.36);
    }
}

.header__burger {
    display: none;
    background-color: $black2;
    @media (max-width: 700px){
        display: block;
        width: 32px;
        height: 32px;
    }
    &.active {
        display: none;
    }
}

.header__burger--close{
    display: none;
    background-color: $black2;
    width: 32px;
    height: 32px;
    position: relative;
    z-index: 1000;
    &.active {
        display: block;
    }
}